.spacer
.about
  %h2 This is a quick personal project I did to see if I could deploy a rails app. 
  %h2 This app saves no data about its users. 
  %h2 If you have any comments, please send them to: 
  %h2= mail_to "admin@amitwitterfamous.com"