- if params[:name].blank?
  .spacer
  .container
    %h1 Am I Twitter Famous?
    %br/
  .box
    = form_tag('/') do
      %h1 @
      %h1= text_field_tag :name, nil, :size => 12
      %h1= submit_tag(">")
- else
  .spacer
  .container
    %h1= @fame_level
  