@font-face {
  font-family: BebasNeue;
  src: url("/bebas.ttf");
}

.container {
  margin: auto;
  width: 100%;
  text-align: center;
}

.box {
  margin: auto;
  width: 100%;
  text-align: center;
}

.spacer {
  height: 250px;
}


h1 {
  font-family: BebasNeue;
  font-size: 3.5em;
  text-align: center;
  word-spacing: 0.3em;
  letter-spacing: -0.05em;
  margin: 0.1em;
  display:inline;
}

h1#neon{
  color: red;
  text-shadow: black 4px 4px 4px;
}

input[type="submit"] {
  font-family: BebasNeue;
  font-size: 1em;
  text-align: center;
  word-spacing: 0.3em;
  letter-spacing: -0.05em;
  margin: 0.1em;
  display:inline;
  background: white;
  border: none;
  cursor: pointer;
}

input#name {
  border: 0px;
  border-bottom: 5px solid black;
  font-family: BebasNeue;
  font-size: 1em;
  text-align: left;
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
}

input#name:focus {
  outline: none;
}

