<!DOCTYPE html>
<html>
<head>
  <title>Amitwitterfamous</title>
  <%= stylesheet_link_tag "application.css" %>
  <%= javascript_include_tag "jquery.js" %>  
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
